/* 定义全局变量 */
/* 公共的样式放到base.less里面 */
* {
  margin: 0px;
  padding: 0px;
  /* 防止边框padding超出页面宽度出现滚动条 */
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
li {
  list-style: none;
}
a {
  color: #666;
  text-decoration: none;
  /*一般移动端清除a的点击高亮  透明就表示去掉*/
  -webkit-tap-highlight-color: transparent;
}
input {
  border: none;
  outline: none;
  /*清除移动端默认的表单样式*/
  -webkit-appearance: none;
}
img {
  /* 解决图片3px的间距 */
  vertical-align: middle;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
[class^="icon-"] {
  background: url('../images/sprites.png');
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 999;
}
#header .icon-logo {
  display: block;
  height: 45px;
  width: 80px;
  padding: 10px 11px;
  background-position: 0px -107px;
}
#header .icon-back {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-position: -20px 0;
}
#header .icon-menu {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-position: -60px 0;
}
#header form {
  flex: 1;
  padding-top: 7px;
  position: relative;
}
#header form .icon-search {
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url('../images/sprites.png');
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: -60px -108px;
  top: 12px;
  left: 5px;
}
#header form input {
  width: 100%;
  height: 30px;
  border-radius: 17.5px;
  line-height: 30px;
  padding-left: 30px;
  font-size: 12px;
}
#header .login {
  display: block;
  width: 50px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
#footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  z-index: 999;
}
#footer ul {
  display: flex;
}
#footer ul li {
  flex: 1;
  width: 100%;
}
#footer ul li a {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
}
#footer ul li a img {
  width: 65px;
  height: 50px;
}
